<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body class="ng-cloak" ng-controller="MyController as ctrl">
{{getSum(2,3)}}
{{getSum(10,3)}}
{{getSum(200,3)}}
<script src="lib/requirejs/require.js" data-main="js/main.js"></script>
</body>
</html>